@tailwind components;

@layer components {
    .question .options .options_option {
        background: white;
        padding: 0.4rem 0.8rem;
        color: rgba(42, 43, 77, 0.859);
        transition: all 250ms ease-in-out;
        transition-delay: 0;
    }

    .question .options .options_option:hover {
        border-radius: 10rem;
    }

    .question .question_answer {
        color: #dfd66f;
        transition: all 250ms ease-in-out;
        transition-delay: 0;
    }

    .question .player {
        opacity: 0.5;
        transition: all 250ms ease-in-out;
        transition-delay: 0;
    }

    .question .player:hover {
        opacity: 1;
    }
}
